.card-general {
  background-color: var(--card-background); /* Background color for cards */
  color: white;
  padding: 20px;
  border-radius: 20px;
  height: 300px;
  width: 260px;
  border: 1px solid var(--card-border);
}

.card-general-heading span {
  font-weight: bold;
  font-size: 1rem;
}

.card-general-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.card-general-body {
  border-radius: 12px;
  padding: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.border-green {
  border: 2px solid var(--green-color);
}

.border-red {
  border: 2px solid var(--red-color);
}

.card-general-price-font span {
  font-size: 0.8rem;
}

.card-general-round-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-general-round-price {
  font-weight: bold;
  font-size: 26px;
  text-decoration: underline; /* Add underline */
  text-decoration-style: dotted; /* Make the underline dotted */
}

.price-above {
  color: var(--green-color);
}

.price-below {
  color: var(--red-color);
}

.card-general-price-difference {
  border-radius: 5px;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.background-green {
  background-color: var(--green-color);
}

.background-red {
  background-color: var(--red-color);
}

.card-general-locked-price {
  display: flex;
  justify-content: space-between;
}

.card-general-prize-section {
  display: flex;
  justify-content: space-between;
}

.card-general-locked-price span {
  font-size: 0.8rem;
}

.card-general-prize-section span {
  font-weight: bold;
  color: var(--card-body-font);
  font-size: 1rem;
}

.card-general-arrow {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 60%;
}

.card-general-arrow-up {
  background-color: var(--green-color);
  border-radius: 10px 10px 0 0;
}

.card-general-arrow-down {
  background-color: var(--red-color);
  border-radius: 0 0 10px 10px;
}

.card-general-arrow span {
  font-weight: bold;
}
