.info-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 70%; /* Set width to 70% of the screen */
  margin: 0 auto; /* Center the info bar horizontally */
}

.info-bar-left {
  display: flex;
  align-items: center;
}

.taiko-logo {
  height: 40px; /* Adjust size as needed */
}

.token-info-container {
  background-color: #4b0012; /* Background color for token info */
  padding: 10px 10px;
  border-radius: 8px;
  margin-left: 5px;
}

.token-info {
  display: flex;
  align-items: center;
}

.token-name {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}

.token-price {
  font-size: 16px;
}

.info-bar-middle {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center; /* Center content horizontally */
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 300px;
  background-color: #333;
  color: #fff;
  text-align: left; /* Align text to the left for better readability */
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the trigger */
  left: 50%;
  margin-left: -150px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltip-trigger {
  font-size: 16px;
  background-color: #4b0012;
  padding: 10px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.highlighted-link {
  color: #ff69b4; /* Pink color */
  text-decoration: underline;
}

.info-bar-right {
  display: flex;
  align-items: center;
}

.clock-icon {
  height: 45px; /* Adjust size to make it smaller */
  width: 45px; /* Ensure width is consistent with height */
  margin-left: 8px; /* Space between timer and clock icon */
}

.timer {
  font-size: 16px;
  background-color: #4b0012; /* Background color for the timer */
  padding: 10px 10px;
  border-radius: 8px;
  position: relative; /* Ensure clock can be positioned above */
}

ol {
  margin: 0;
  padding-left: 20px; /* Add some space before the list items */
}

ol li {
  margin-bottom: 10px; /* Add space between list items */
}
