.card {
  background-color: var(--card-background); /* Background color for cards */
  color: white;
  padding: 20px;
  border-radius: 20px;
  height: 300px;
  width: 260px;
  border: 1px solid var(--card-border);
}

.card-heading span {
  font-weight: bold;
  font-size: 1rem;
}

.card .card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.card-body {
  border: 2px solid var(--green-color);
  border-radius: 12px;
  padding: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-body .card-body_price-font span {
  font-size: 0.8rem;
}

.card_body_round-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-expired-round-price {
  font-weight: bold;
  font-size: 26px;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.price-above {
  color: var(--green-color);
}

.price-below {
  color: var(--red-color);
}

.card-expired-round-difference {
  border-radius: 5px;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.background-green {
  background-color: var(--green-color);
}

.background-red {
  background-color: var(--red-color);
}

.card_body_locked-price {
  display: flex;
  justify-content: space-between;
}

.card_body_prize-section {
  display: flex;
  justify-content: space-between;
}

.card-body .card_body_locked-price span {
  font-size: 0.8rem;
}

.card_body_prize-section span {
  font-weight: bold;
  color: var(--card-body-font);
  font-size: 1rem;
}

.multiplier-arrow-up-historical {
  background-color: var(--disable-color);
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  width: 60%;
}

.multiplier-arrow-up-historical span {
  font-weight: bold;
}

.multiplier-arrow-down-historical {
  background-color: var(--disable-color);
  display: flex;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  width: 60%;
}

.multiplier-arrow-down-historical span {
  font-weight: bold;
}

.background-green {
  background-color: var(--green-color);
}

.background-red {
  background-color: var(--red-color);
}

/* New styles for disabled card */
.disabled-card {
  opacity: 0.6;
  background-color: #ccc; /* Light gray background */
  border: 1px solid #aaa; /* Lighter border color */
}

.disabled-card .card-body {
  border: 2px solid #aaa; /* Lighter border for card body */
}

.disabled-card .round-price,
.disabled-card .round-difference {
  color: #888; /* Lighter text color */
}
