body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --green-color: #279927;
  --red-color: rgb(201, 47, 47);
  --disable-color: grey;
  --card-background: #201820;
  --card-border: #4b0012;
  --card-body-font: white;
  --button-color: #c8047d;
}
